{% extends "base.html" %}
{% load extra_filters %}

{% block title %}CycleTracks: Activity {{ activity.name }}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAoU2YDajIyJPdof6GDzJKshRpKIwH9gjHw5l4siVVB7mD23aSXhSHvrtQQCEPRhQENq4B3lk8joMYzQ"></script>
<script type="text/javascript" src="/static/greversegeocoder.js"></script>

<script type="text/javascript">
  google.load("maps", "2.x");
  function initialize() {
    var map = new google.maps.Map2(document.getElementById("map"));
    map.setCenter(new google.maps.LatLng(0,0),0);
    var sw = new google.maps.LatLng({{sw}});
    var ne = new google.maps.LatLng({{ne}});
    var bounds = new google.maps.LatLngBounds(sw, ne);
    var mapZoomLevel = map.getBoundsZoomLevel(bounds);
    var mapCenter = bounds.getCenter();
    map.setCenter(mapCenter, mapZoomLevel);

    var polyline1_1 = new google.maps.Polyline.fromEncoded({
      color: "#2A4269",
      weight: 4,
      opacity: 1,
      points: {{pts|safe}},
      levels: {{levs|safe}},
      zoomFactor: 2,
      numLevels: 18
    });
    map.addOverlay(polyline1_1);
    map.addControl(new google.maps.SmallMapControl());


    // start point
    function goodresult(placemark) {
      document.getElementById("start_location").innerHTML = placemark.address;
    }

    function badresult() {
      document.getElementById("start_location").innerHTML = "Unable to reverse geocode";
    }
    var start_reversegeocoder = new GReverseGeocoder(map);
    GEvent.addListener(start_reversegeocoder, "load", goodresult);
    GEvent.addListener(start_reversegeocoder, "error", badresult);

    start_reversegeocoder.reverseGeocode(new GLatLng({{ start_lat_lng }}));

    // Mid point
    function mid_goodresult(placemark) {
      document.getElementById("mid_location").innerHTML = placemark.address;
    }

    function mid_badresult() {
      document.getElementById("mid_location").innerHTML = "Unable to reverse geocode";
    }
    var mid_reversegeocoder = new GReverseGeocoder(map);
    GEvent.addListener(mid_reversegeocoder, "load", mid_goodresult);
    GEvent.addListener(mid_reversegeocoder, "error", mid_badresult);

    mid_reversegeocoder.reverseGeocode(new GLatLng({{ mid_lat_lng }}));


    // Find the finish location
    function end_goodresult(placemark) {
      document.getElementById("end_location").innerHTML = placemark.address;
    }

    function end_badresult() {
      document.getElementById("end_location").innerHTML = "Unable to reverse geocode";
    }
    var end_reversegeocoder = new GReverseGeocoder(map);
    GEvent.addListener(end_reversegeocoder, "load", end_goodresult);
    GEvent.addListener(end_reversegeocoder, "error", end_badresult);

    end_reversegeocoder.reverseGeocode(new GLatLng({{ end_lat_lng }}));
  }
  google.setOnLoadCallback(initialize);

</script>

<script type="text/javascript" src="/static/MochiKit.js"></script>
<script type="text/javascript" src="/static/PlotKit_Packed.js"></script>

{% endblock %}


{% block content %}
<div id="activity_table">
<table width="100%">
  <tr>
    <td align="left" valign="top" width="50%">
      <table>
        <tr>
          <td>Name:</td>
          <td>
            <span id="editable_name">{{ activity.name }}</span>
            <script type="text/javascript">
              new Ajax.InPlaceEditor('editable_name', '/activity/update/', {
                callback: function(form, value) {
                  return 'activity_id={{activity.key}}&attribute=name&value='+escape(value)
                }
              })
            </script>
          </td>
        </tr>
        <tr>
          <td>Start Time:</td><td>{{ activity.start_time|time_to_offset:user.get_profile.tzoffset }}</td>
        </tr>
        <tr>
          <td>End Time:</td><td>{{ activity.end_time|time_to_offset:user.get_profile.tzoffset }}</td>
        </tr>
        <tr>
          <td>Distance:</td><td>{{ activity.total_meters|meters_to_prefered_distance:user.get_profile.use_imperial }}</td>
        </tr>
        <tr>
          <td>Rolling Time:</td><td>{{ activity.rolling_time|seconds_to_human_readable }}</td>
        </tr>
        <tr>
          <td>Total Time:</td><td>{{ activity.total_time|seconds_to_human_readable }}</td>
        </tr>
        <tr>
          <td>Speed:</td>
          <td>
            Avg: {{ activity.average_speed|kph_to_prefered_speed:user.get_profile.use_imperial }},
            Max: {{ activity.maximum_speed|kph_to_prefered_speed:user.get_profile.use_imperial }}
           </td>
        </tr>
        <tr>
          <td>Heart Rate:</td><td>Avg: {{ activity.average_bpm }}, Max: {{ activity.maximum_bpm }} BPM</td>
        </tr>
        <tr>
          <td>Cadence:</td><td>Avg: {{ activity.average_cadence }}, Max: {{ activity.maximum_cadence }} RPM</td>
        </tr>
        <tr>
          <td>Calories:</td><td>{{ activity.total_calories|floatformat:"-2" }}</td>
        </tr>
        <tr>
          <td>Start Location:</td><td id="start_location"></td>
        </tr>
        <tr>
          <td>Middle Location:</td><td id="mid_location"></td>
        </tr>
        <tr>
          <td>End Location:</td><td id="end_location"></td>
        </tr>
        <tr>
          <td>Uploaded By:</td><td>{{ activity.parent.user }}</td>
        </tr>
        <tr>
          <td>
            Public:</td>
          <td>
            <span id="public_flag">{{ activity.public }}</span>
            <script type="text/javascript">
              new Ajax.InPlaceCollectionEditor(
                  'public_flag',
                  '/activity/update/',
                  {
                    collection: ['True', 'False'],
                    callback: function(form, value) {
                        return 'activity_id={{activity.key}}&attribute=public&value='+escape(value)
                      }
                    });
            </script>

          </td>
        </tr>
        <tr>
          <td>Comment:</td>
          <td>
            <span id="editable_comment">{{ activity.comment }}</span>
            <script type="text/javascript">
              new Ajax.InPlaceEditor('editable_comment', '/activity/update/', {
                callback: function(form, value) { return 'activity_id={{activity.key}}&attribute=comment&value='+escape(value) }
              })
            </script>
          </td>
        </tr>
      </table>
      <br>
      <br>
      <div id="map" style="width: 400px; height: 400px"></div>
      <div><a href="http://maps.google.com/maps?q={{kml_location}}">Bigger Map</a></div>
    </td>
    <td width="50%">
      Heart Rate (BPM)<br><br>
      <div id="bpm_graph" style="margin: 0 auto 0 auto;" width="500" height="200"></div>

      <br>Cadence (RPM)<br><br>
      <div id="cadence_graph" style="margin: 0 auto 0 auto;" width="500" height="200"></div>

      <br>Speed (kph)<br><br>
      <div id="speed_graph" style="margin: 0 auto 0 auto;" width="500" height="200"></div>

      <br>Altitude (Meters)<br><br>
      <div id="altitude_graph" style="margin: 0 auto 0 auto;" width="500" height="200"></div>

      <script type="text/javascript">
        var xTicks = [
        {% for v in times %}
          {label: "{{v.1|seconds_to_human_readable}}", v: {{v.0}}},
        {% endfor %}
        ];

        var plotter = EasyPlot("line", {"xTicks": xTicks}, $("bpm_graph"), [ [{{bpm}}] ]);
        var plotter = EasyPlot("line", {"xTicks": xTicks}, $("cadence_graph"), [ [{{cadence}}] ]);
        var plotter = EasyPlot("line", {"xTicks": xTicks}, $("speed_graph"), [ [{{speed}}] ]);
        var plotter = EasyPlot("line", {"xTicks": xTicks}, $("altitude_graph"), [ [{{altitude}}] ]);
      </script>
    </td>
  </tr>
</table>
</div>
{% endblock %}
