{% extends "base.html" %}
{% block title %}CycleTracks User Settings{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="/static/jquery.inplace.pack.js"></script>
{% endblock %}

{% block content %}

Username: {{ user.username }}
<p>
Use Imperial Units?: <span id="edit_units">{{user.get_profile.use_imperial}}</span>
<script type="text/javascript">
  $("#edit_units").editInPlace({
    url: "/user/update/",
    params: "ajax=yes",
    value_required: true,
    field_type: "select",
    select_options: "True, False",
    params: "user_id={{user.key}}&attribute=use_imperial",
  });
</script>

<p>
Time Zone Offset: <span id="edit_tzoffset">{{user.get_profile.tzoffset}}</span>
<script type="text/javascript">
  $("#edit_tzoffset").editInPlace({
    url: "/user/update/",
    params: "ajax=yes",
    value_required: true,
    field_type: "select",
    select_options: "{{offsets}}",
    params: "user_id={{user.key}}&attribute=tzoffset",
  });
</script>

<p>
(Old settings will be cached for up to an hour)
{% endblock %}
