{% extends "base.html" %}
{% block title %}CycleTracks User Settings{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="/static/jquery.inplace.pack.js"></script>
{% endblock %}

{% block content %}

<form action="/user/settings/" method="post">
    {% for field in form.visible_fields %}
        <div class="fieldWrapper">
            {# Include the hidden fields in the form #}
            {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
            {% endif %}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
  <input type="submit" value="Submit" />
</form>

{% for field in form.visible_fields %}
  {% if field.errors %}
    {{ field.label_tag }}:
    {% for error in field.errors %}
      {{ error }},
    {% endfor %}
    {% endif %}
    <br/>
{% endfor %}


{% endblock %}
