{% extends "base.html" %}
{% block title %}About CycleTracks{% endblock %}

{% block content %}

Caveats about data representation in cycletracks:

<ul>
  <li>Times are rounded to integers of seconds</li>
  <li>Graph datapoints are compressed down to 500 points</li>
  <li>Map data is encoded before rendering (to save space) but this may introduce some imprecision into the geo points.</li>
  <li>It's kinda hacky
</ul>

Other Notes:
<ul>
  <li>To change the name of an activity click on the name in the show screen, an edit box should appear.</li>
  <li>This should work with the public and comment fields too</li>

{% endblock %}`
