{% extends "base.html" %}
{% load extra_filters %}

{% block title %}CycleTracks Reports{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/jquery.flot.pack.js"></script>
<script>jQuery.noConflict();</script>

{% endblock %}

{% block content %}
<div width="100%"></div>
<div id="report_left">
  Group by:<br/>
  &nbsp;&nbsp;<a href="week">Week</a><br/>
  &nbsp;&nbsp;<a href="month">Month</a>
  <br/>
  <br/>
  <p id="choices">Show Data:</p>

</div>
<div id="report_right">
  <div id="report_graph" style="width:830px;height:350px"></div>

  <br/>
  <br/>
  <script id="source"  language="javascript" type="text/javascript">
    jQuery(function () {
        var datasets = {
          "bpm": {
            label: "Heart Rate",
            data: []
            },
          "speed": {
            label: "Speed",
            data: []
          },
          "cadence": {
            label: "Cadence",
            data: []
          },
        };
        {% for d,activity in data.items %}datasets['bpm'].data.push([{{d|date_to_js_epoch}}, {{activity.average_bpm|value_or_zero}}]); datasets['speed'].data.push([{{d|date_to_js_epoch}}, {{activity.average_speed|value_or_zero}}]); datasets['cadence'].data.push([{{d|date_to_js_epoch}}, {{activity.average_cadence|value_or_zero}}]);{% endfor %}

        var i = 0;
        jQuery.each(datasets, function(key, val) {
          val.color = i;
          ++i;
        });
        // insert checkboxes
        var choiceContainer = jQuery("#choices");
        jQuery.each(datasets, function(key, val) {
          if(key == 'bpm' || key == 'speed' || key == 'cadence') {
            choiceContainer.append('<br/><input type="checkbox" name="' + key +
              '" checked="checked" >' + val.label + '</input>');
          }
          else {
            choiceContainer.append('<br/><input type="checkbox" name="' + key +
              '">' + val.label + '</input>');
          }


          });
        choiceContainer.find("input").click(plotAccordingToChoices);

        function plotAccordingToChoices() {
          var data = [];

          choiceContainer.find("input:checked").each(function () {
              var key = jQuery(this).attr("name");
              if (key && datasets[key])
                data.push(datasets[key]);
          });

          if (data.length > 0)
            jQuery.plot(jQuery("#report_graph"), data, {
                yaxis: { min: 0 },
                xaxis: { mode: "time", tickSize: {{tickformat|safe}} }
            });
         }

         plotAccordingToChoices();
});


      </script>
</div>
{% endblock %}
