<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% spaceless %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% block title %}CycleTracks{% endblock %}</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAoU2YDajIyJPdof6GDzJKshRpKIwH9gjHw5l4siVVB7mD23aSXhSHvrtQQCEPRhQENq4B3lk8joMYzQ"></script>

  <script>
    google.load("prototype", "1.6.0.2");
    google.load("scriptaculous", "1.8.1");
  </script>

  {% block extra_head %}{% endblock %}
  </head>
  <body {% block extra_body %}{% endblock %}>
    <div id="header">
      <div id="header_inner" class="fixed">
        <div id="logo">
          <h1>{% block page_title %}CycleTracks - {{ user.username }}{% endblock %}</h1>
        </div>

        <div id="menu">
          <ul>
            <li><a href="/mytracks/">My Tracks</a></li>
            <li><a href="/reports/">Reports</a></li>
            <li><a href="/upload/">Upload</a></li>
            <li><a href="/user/settings/">Settings</a></li>
            <li><a href="/about/">About</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div id="main">
      <div id="main_inner" class="fixed">
        <div id="primaryContent_columnless">
          <div id="columnA_columnless">
            {% block content %}{% endblock %}
          </div>
        </div>
        <br class="clear" />

      </div>

    </div>

    <div id="footer" class="fixed">
      Copyright &copy; 2008 Daniel Hobe.
      <br/>
      Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a>.
      <br/>
      Code available here: <a href="http://code.google.com/p/cycletracks/">http://code.google.com/p/cycletracks/</a>
    </div>

  </body>
</html>
{% endspaceless %}
