{% extends "base.html" %}
{% load extra_filters %}

{% block title %}CycleTracks Dashboard{% endblock %}

{% block content %}
<div id="activity_table">
<table cellspacing="2" width="100%">
  <tr>
    <td width="200"><h2>Your Stats:</h2></td>
    <td></td>
  </tr>
  <tr>
    <td>
      Total Distance:</td>
    <td> {{ user_totals.total_meters|meters_to_prefered_distance:user.get_profile.use_imperial }}
    </td>
  </tr>
  <tr>
    <td>Total Time:</td>
    <td>
      {{ user_totals.total_time|seconds_to_human_readable }}
    </td>
  </tr>
  <tr>
    <td>Rolling Time:</td>
    <td>
      {{ user_totals.rolling_time|seconds_to_human_readable }}
    </td>
  </tr>
  <tr>
    <td>
      Cadence (avg/max):</td>
    <td> {{ user_totals.average_cadence|floatformat:"-2" }} / {{ user_totals.maximum_cadence|floatformat:"-2" }} rpm
    </td>
  </tr>
  <tr>
    <td>
      Heart Rate (avg/max):</td>
    <td> {{ user_totals.average_bpm|floatformat:"-2" }} / {{ user_totals.maximum_bpm|floatformat:"-2" }} bpm
    </td>
  </tr>
  <tr>
    <td>
      Average Speed:</td>
    <td> {{ user_totals.average_speed|kph_to_prefered_speed:user.get_profile.use_imperial }}
    </td>
  </tr>
  <tr>
    <td>
      Max Speed:</td>
    <td> {{ user_totals.maximum_speed|kph_to_prefered_speed:user.get_profile.use_imperial }}
    </td>
  </tr>
  <tr>
    <td>Calories:</td>
    <td> {{ user_totals.total_calories|floatformat:"-2" }} Cal</td>
  </tr>
</table>
</div>
<br><br>
<h2>Your tracks:</h2>
<div class="datatable">
<table cellspacing="2" width="100%">
  <thead>
  <tr>
    <th><a href='/mytracks/name'>Activity Name</a></th>
    <th><a href='/mytracks/start_time'>Start Time</a></th>
    <th><a href='/mytracks/total_meters'>Distance</a></th>
    <th><a href='/mytracks/rolling_time'>Time<br/>(Rolling)</a></th>
    <th><a href='/mytracks/average_cadence'>Avg/Max Cadence</a></th>
    <th><a href='/mytracks/average_bpm'>Avg/Max BPM</a></th>
    <th><a href='/mytracks/average_speed'>Avg Speed</a></th>
    <th><a href='/mytracks/maximum_speed'>Max Speed</a></th>
    <th><a href='/mytracks/total_calories'>Calories</a></th>
  </tr>
</thead>
<tbody>
  {% ifnotequal num_activities 0 %}
    {% for entry in user_activities %}
    <tr>
      <td><a href="/activity/show/{{ entry.key }}">{{ entry.name }}</a></td>
      <td>{{ entry.start_time|time_to_offset:user.get_profile.tzoffset|date:"n/j/y-H:i" }}</td>
      <td>{{ entry.total_meters|meters_to_prefered_distance:user.get_profile.use_imperial}}</td>
      <td>{{ entry.total_time|seconds_to_human_readable }} Hours
        <br/>
        ({{ entry.rolling_time|seconds_to_human_readable }} Hours)
      </td>
      <td>{{ entry.average_cadence|floatformat:"-2" }} / {{ entry.maximum_cadence|floatformat:"-2" }} rpm</td>
      <td>{{ entry.average_bpm|floatformat:"-2" }} / {{ entry.maximum_bpm|floatformat:"-2" }} bpm</td>
      <td>{{ entry.average_speed|kph_to_prefered_speed:user.get_profile.use_imperial }}</td>
      <td>{{ entry.maximum_speed|kph_to_prefered_speed:user.get_profile.use_imperial }}</td>
      <td>{{ entry.total_calories|floatformat:"-2" }} Cal</td>
    </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td colspan="11">
        <p>You haven't uploaded any activities.  Click the upload link to get started.</p>
      </td>
    </tr>
    {% endifnotequal %}
  </tbody>
</table>
</div>
{% endblock %}
