{% extends "base.html" %}
{% load extra_filters %}

{% block title %}CycleTracks Reports{% endblock %}

{% block extra_head %}
<script>google.load("jquery", "1.2.6");</script>
<script type="text/javascript" src="/static/jquery.flot.pack.js"></script>
<script>jQuery.noConflict();</script>

{% endblock %}

{% block content %}
<div width="100%"></div>
<div id="report_left">
  Group by:<br/>
  &nbsp;&nbsp;<a href="week">Week</a><br/>
  &nbsp;&nbsp;<a href="month">Month</a>
  <br/>
  <br/>
  <p id="choices">Show Data:</p>

</div>
<div id="report_right">
  {% if data %}
  <div id="report_graph" style="width:830px;height:350px"></div>

  <br/>
  <br/>
  <script id="source"  language="javascript" type="text/javascript">
    jQuery(function () {
        var datasets = {
          "bpm": {
            label: "Heart Rate",
            data: [],
            bars: {show: true, barWidth: {{gsettings.barwidth}}},
            },
          "speed": {
            label: "Speed",
            data: [],
            bars: {show: true, barWidth: {{gsettings.barwidth}}},
          },
          "cadence": {
            label: "Cadence",
            data: [],
            bars: {show: true, barWidth: {{gsettings.barwidth}}},
          },
          "calories": {
            label: "Total Calories",
            data: [],
            bars: {show: true, barWidth: {{gsettings.barwidth}}},
          },
        };
        {% for d,activity in data.items %}datasets['bpm'].data.push([{{d}},{{activity.average_bpm|value_or_zero}}]);datasets['speed'].data.push([{{d}},{{activity.average_speed|value_or_zero}}]);datasets['cadence'].data.push([{{d}},{{activity.average_cadence|value_or_zero}}]);datasets['calories'].data.push([{{d}},{{activity.total_calories|value_or_zero}}]);{% endfor %}

        var i = 0;
        jQuery.each(datasets, function(key, val) {
          val.color = i;
          ++i;
        });
        // insert checkboxes
        var choiceContainer = jQuery("#choices");
        jQuery.each(datasets, function(key, val) {
          if(key == 'bpm') {
            choiceContainer.append('<br/><input type="checkbox" name="' + key +
              '" checked="checked" >' + val.label + '</input>');
          }
          else {
            choiceContainer.append('<br/><input type="checkbox" name="' + key +
              '">' + val.label + '</input>');
          }


          });
        choiceContainer.find("input").click(plotAccordingToChoices);

        function plotAccordingToChoices() {
          var data = [];

          choiceContainer.find("input:checked").each(function () {
              var key = jQuery(this).attr("name");
              if (key && datasets[key])
                data.push(datasets[key]);
          });

          if (data.length > 0)
            jQuery.plot(jQuery("#report_graph"), data, {
              yaxis: { min: 0 },
              xaxis: { mode: 'time' ,
                timeformat: '{{gsettings.tickformat}}',
                minTickSize: {{gsettings.ticksize|safe}},
                },
            });
         }

         plotAccordingToChoices();
});


      </script>
    </div>
    {% else %}
You have no activities uploaded.
    {% endif %}
{% endblock %}
