{% extends "base.html" %}
{% load extra_filters %}

{% block title %}CycleTracks: Activity {{ activity.name }}{% endblock %}

{% block extra_head %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAoU2YDajIyJPdof6GDzJKshRpKIwH9gjHw5l4siVVB7mD23aSXhSHvrtQQCEPRhQENq4B3lk8joMYzQ" type="text/javascript"></script>

<script type="text/javascript">

    //<![CDATA[
    function load() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng({{ centerpoint }}), 10);
        var polyline = new GPolyline([
            {% for p in points %}new GLatLng({{ p }}),{% endfor %}
            ], "#ff0000", 4);
        map.addControl(new GSmallMapControl());
        //map.addControl(new GMenuMapTypeControl());

        var bounds = new GLatLngBounds();
        {% for p in points %}bounds.extend(new GLatLng({{ p }}));{% endfor %}

        map.setZoom(map.getBoundsZoomLevel(bounds));
        map.setCenter(bounds.getCenter());
        map.addOverlay(polyline);
      }
    }
    //]]>
</script>

{% endblock %}

{% block extra_body %}onload="load()" onunload="GUnload()"{% endblock %}

{% block content %}
<table width="100%">
  <tr width="50%">
    <td align="left" valign="top">
<table>
  <tr>
    <td>Name:</td><td>{{ activity.name }}</td>
  </tr>
  <tr>
    <td>Sport:</td><td>{{ activity.sport }}</td>
  </tr>
  <tr>
    <td>Distance:</td><td>{{ activity.total_meters|meters_to_miles|floatformat:"-2" }}</td>
  </tr>
  <tr>
    <td>Rolling Time:</td><td>{{ activity.rolling_time|seconds_to_hours|floatformat:"-2" }}</td>
  </tr>
  <tr>
    <td>Speed:</td><td>Avg: {{ activity.average_speed|km_to_miles|floatformat:"-2" }}, Max: {{ activity.maximum_speed|km_to_miles|floatformat:"-2" }}</td>
  </tr>
  <tr>
    <td>Heart Rate:</td><td>Avg: {{ activity.average_bpm }}, Max: {{ activity.maximum_bpm }}</td>
  </tr>
  <tr>
    <td>Cadence:</td><td>Avg: {{ activity.average_cadence }}, Max: {{ activity.maximum_cadence }}</td>
  </tr>
  <tr>
    <td>Calories:</td><td>{{ activity.total_calories|floatformat:"-2" }}</td>
  </tr>
</table>
    <div id="map" style="width: 400px; height: 300px"></div>
</td>
  <td>
    {% draw_chart activity.key "bpm" %}
    <br/>
    {% draw_chart activity.key "cadence" %}
    <br/>
    {% draw_chart activity.key "speed" %}
    <br/>
    {% draw_chart activity.key "altitude" %}
  </td>
</tr>

</table>
{% endblock %}
