{% extends "base.html" %}
{% load extra_filters %}

{% block title %}CycleTracks: Activity {{ activity.name }}{% endblock %}

{% block extra_head %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAoU2YDajIyJPdof6GDzJKshRpKIwH9gjHw5l4siVVB7mD23aSXhSHvrtQQCEPRhQENq4B3lk8joMYzQ" type="text/javascript"></script>

<script type="text/javascript" src="/static/greversegeocoder.js"></script>
<script type="text/javascript">
    //<![CDATA[
    function load() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng({{ centerpoint }}), 10);
        var polyline = new GPolyline([
            {% for p in points %}new GLatLng({{ p }}),{% endfor %}
            ], "#ff0000", 4);
        map.addControl(new GSmallMapControl());
        //map.addControl(new GMenuMapTypeControl());

        var bounds = new GLatLngBounds();
        {% for p in points %}bounds.extend(new GLatLng({{ p }}));{% endfor %}

        map.setZoom(map.getBoundsZoomLevel(bounds));
        map.setCenter(bounds.getCenter());
        map.addOverlay(polyline);

        function goodresult(placemark) {
          var html = placemark.address;
          document.getElementById("start_location").innerHTML = html;
        }

        function badresult() {
          document.getElementById("start_location").innerHTML = "Unable to reverse geocode";
        }
        var start_reversegeocoder = new GReverseGeocoder(map);
        GEvent.addListener(start_reversegeocoder, "load", goodresult);
        GEvent.addListener(start_reversegeocoder, "error", badresult);

        start_reversegeocoder.reverseGeocode(new GLatLng({{ start_lat_lng }}));


        // Find the finish location
        function end_goodresult(placemark) {
          var html = placemark.address;
          document.getElementById("end_location").innerHTML = html;
        }

        function end_badresult() {
          document.getElementById("end_location").innerHTML = "Unable to reverse geocode";
        }
        var end_reversegeocoder = new GReverseGeocoder(map);
        GEvent.addListener(end_reversegeocoder, "load", end_goodresult);
        GEvent.addListener(end_reversegeocoder, "error", end_badresult);

        end_reversegeocoder.reverseGeocode(new GLatLng({{ end_lat_lng }}));
      }
    }
    //]]>
</script>

<script type="text/javascript" src="/static/MochiKit.js"></script>
<script type="text/javascript" src="/static/PlotKit_Packed.js"></script>

{% endblock %}



{% block extra_body %}onload="load()" onunload="GUnload()"{% endblock %}

{% block content %}
<table width="100%">
  <tr width="50%">
    <td align="left" valign="top">
      <table>
        <tr>
          <td>Name:</td>
          <td>
            <span id="editable_name">{{ activity.name }}</span>
            <script type="text/javascript">
              new Ajax.InPlaceEditor('editable_name', '/activity/update/', {
                callback: function(form, value) {
                  return 'activity_id={{activity.key}}&attribute=name&value='+escape(value)
                }
              })
            </script>
          </td>
        </tr>
        <tr>
          <td>Sport:</td><td>{{ activity.sport }}</td>
        </tr>
        <tr>
          <td>Start Time:</td><td>{{ activity.start_time }}</td>
        </tr>
        <tr>
          <td>End Time:</td><td>{{ activity.end_time }}</td>
        </tr>
        <tr>
          <td>Distance:</td><td>{{ activity.total_meters|meters_to_miles|floatformat:"-2" }}</td>
        </tr>
        <tr>
          <td>Rolling Time:</td><td>{{ activity.rolling_time|seconds_to_hours|floatformat:"-2" }}</td>
        </tr>
        <tr>
          <td>Speed:</td>
          <td>
            Avg: {{ activity.average_speed|km_to_miles|floatformat:"-2" }},
             Max: {{ activity.maximum_speed|km_to_miles|floatformat:"-2" }}
           </td>
        </tr>
        <tr>
          <td>Heart Rate:</td><td>Avg: {{ activity.average_bpm }}, Max: {{ activity.maximum_bpm }}</td>
        </tr>
        <tr>
          <td>Cadence:</td><td>Avg: {{ activity.average_cadence }}, Max: {{ activity.maximum_cadence }}</td>
        </tr>
        <tr>
          <td>Calories:</td><td>{{ activity.total_calories|floatformat:"-2" }}</td>
        </tr>
        <tr>
          <td>Start Location:</td><td id="start_location"></td>
        </tr>
        <tr>
          <td>End Location:</td><td id="end_location"></td>
        </tr>
        <tr>
          <td>Uploaded By:</td><td>{{ activity.parent.user }}</td>
        </tr>
        <tr>
          <td>
            Public:</td>
          <td>
            <span id="public_flag">{{ activity.public }}</span>
            <script type="text/javascript">
              new Ajax.InPlaceCollectionEditor(
                  'public_flag',
                  '/activity/update/',
                  {
                    collection: ['True', 'False'],
                    callback: function(form, value) {
                        return 'activity_id={{activity.key}}&attribute=public&value='+escape(value)
                      }
                    });
            </script>

          </td>
        </tr>
        <tr>
          <td>Comment:</td>
          <td>
            <span id="editable_comment">{{ activity.comment }}</span>
            <script type="text/javascript">
              new Ajax.InPlaceEditor('editable_comment', '/activity/update/', {
                callback: function(form, value) { return 'activity_id={{activity.key}}&attribute=comment&value='+escape(value) }
              })
            </script>
          </td>
        </tr>
      </table>
      <br>
      <br>
      <div id="map" style="width: 400px; height: 300px"></div>
    </td>
    <td>
      Heart Rate (BPM)<br><br>
      <div id="bpm_graph" style="margin: 0 auto 0 auto;" width="500" height="200"></div>

      <script type="text/javascript">
        var data = [{{bpm}}];
        var plotter = EasyPlot("line", {}, $("bpm_graph"), [data]);
      </script>

      Cadence (RPM)<br><br>
      <div id="cadence_graph" style="margin: 0 auto 0 auto;" width="500" height="200"></div>

      <script type="text/javascript">
        var data = [{{cadence}}];
        var plotter = EasyPlot("line", {}, $("cadence_graph"), [data]);
      </script>

      Speed (kph)<br><br>
      <div id="speed_graph" style="margin: 0 auto 0 auto;" width="500" height="200"></div>

      <script type="text/javascript">
        var data = [{{speed}}];
        var plotter = EasyPlot("line", {}, $("speed_graph"), [data]);
      </script>

      Altitude (Meters)<br><br>
      <div id="altitude_graph" style="margin: 0 auto 0 auto;" width="500" height="200"></div>

      <script type="text/javascript">
        var data = [{{altitude}}];
        var plotter = EasyPlot("line", {xOriginIsZero: false, yOriginIsZero: false}, $("altitude_graph"), [data]);
      </script>
    </td>
  </tr>

</table>
{% endblock %}
